
<nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <!-- <li><a routerLink="/packages">Packages</a></li>
      <li><a routerLink="/destinations">Destinations</a></li>
      <li><a routerLink="/blog">Blog</a></li>
      <li><a routerLink="/contact">Contact</a></li> -->
    </ul>
  </nav>
<!-- <div>
    <button mat-raised-button class="create-cls" (click)="onNavigate()">Home</button>
    </div> -->
<div class="button-container">
<button mat-raised-button class="create-cls" (click)="openModal()">Create Table</button>
</div>

<div class="cards-container">
    <div *ngFor="let table of tableDetail" class="table-card" (click)="goToTableDetail(table.id)">
      <mat-card>
        <mat-card-header>
          <mat-card-title style="color: blueviolet;">{{ table.name }}</mat-card-title>
          <mat-card-subtitle>{{ table.type }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Total Seats: <a style="color: blueviolet;">{{ table.noOfSeats }} seat</a></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>