.submit-cls{
    text-transform: none;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 9px;
    width: 100px;
    height: 44px;
}
.num-cls{
    color: blue;
    border-width: thin;
    border-color: lightsteelblue;
}

.noOfseat-cls{
    width: 50px;
    text-align: center;
    border: none;
    color: #434384;
    background-color: #dcdcea;
}
