<p style="    text-align: center; text-decoration: underline;"> Searchable Select Dropdown</p>
<div style="text-align: center;">
<mat-form-field>
	<mat-select   placeholder="File Name" [formControl]="selectFormControl" multiple>
		<mat-select-trigger  class="select-cls">
      <!-- <span *ngIf="selectFormControl.value?.length == 0">
        (None)
      </span> -->
      <span *ngIf="selectFormControl.value?.length == 1">
			{{selectFormControl.value ? selectFormControl.value[0] : ''}}
      </span>
			<span *ngIf="selectFormControl.value?.length > 1 && selectFormControl.value?.length < length " class="additional-selection">
        <!-- (+{{selectFormControl.value.length - 1}} {{selectFormControl.value?.length === 2 ? 'other' : 'others'}}) -->
        (Multiple Values)
      </span>
      <span *ngIf="selectFormControl.value?.length == length + 1">
        (All)
      </span>
      
    </mat-select-trigger>
    <div class="select-container">
    <mat-optgroup >
  <mat-form-field style="width:100%;">
    <input #search autocomplete="off" placeholder="Search..." aria-label="Search" matInput [formControl]="searchTextboxControl">
    <button class="clear-btn" disableRipple *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch($event)">
    <mat-icon ></mat-icon>
  </button>
         </mat-form-field>
    </mat-optgroup>
 <mat-option *ngIf="isDataAvailable" #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-option>
 <p *ngIf="!isDataAvailable" class="nodata-cls">No Data Found</p>
   
 <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="tosslePerOne()">
        {{option}}
      </mat-option>

      <!-- (onSelectionChange)="selectionChange($event)"  -->
</div>








</mat-select>
</mat-form-field>
</div>
<!-- <div *ngIf="selectFormControl.value">{{ 'Selected file is ' + selectFormControl.value }}</div> -->


