.additional-selection {
    font-size: 0.7em;
  }
  .select-container{
    margin-top: 10px;
  }
  .select-cls{
    padding: 57px;
  }
  .clear-btn{
    border: none;
    background-color: white;
  }
  .nodata-cls{
    text-align-last: center;
  }
  
