<nav>
    <ul style="margin-left: 65%;">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/packages">Packages</a></li>
      <li><a routerLink="/destinations">Destinations</a></li>
      <li><a routerLink="/blog">Blog</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <div class="search-container">
      <!-- <input type="text" placeholder="Search..." aria-label="Search">
      <button type="submit"> -->
        <i class="bi bi-search" style="color: white;"></i>
        <!-- <i class="fas fa-search"></i>  -->
      <!-- </button> -->
    </div>
  </nav>
  <div class="image-container">
    <img src="./assets/suitcase.avif" alt="Description of image" class="nav-image">
    <div class="overlay-text">Mastering Your Journey</div>
    <div class="overlay-des"> Let us help you explore the world's wonders in a way that speaks
        to your heart.Your perfect journey starts here!</div>
  </div>
<div style="text-align: -webkit-center;padding-top: 36px;">
    <p class="explore-cls">Explore new worlds with exotic natural scenery</p>
    <p style="color: grey;font-weight: 500;">Explore the world with what you love beautiful natural beauty</p>
</div>
<div class="card-container">
  <div class="card">
      <img src="./assets/people.png" alt="Description of image" class="nav-image">
  </div>
  <div class="card">
      <img src="./assets/travel.png" alt="Description of image" class="nav-image">
  </div>
  <div class="card">
      <img src="./assets/statue.png" alt="Description of image" class="nav-image">
  </div>
</div>

<div class="skyview-cls">
  <img src="./assets/skyview.png" alt="Description of image" class="nav-image">
  <p class="over-sky">Why Sky Guru?</p>
      <p class="sky-des">Vacations are special, and you deserve to spend them to right way!</p>


      <div class="card-container-2">
        <div class="card2">
          <img src="./assets/service.png" alt="Description of image" class="serve-image">
            <h3>Best Service</h3>
            <p>
                Beyond just a trip; we are all about crafting unforgettable 
                experiences. With our warm smiles and personalized attention, every
                moment of your journey is stress-free and memorable.
            </p>
            <a href="#" class="learn-more">Learn More</a>
        </div>
        <div class="card2">
          <img src="./assets/price.png" alt="Description of image" class="serve-image">
            <h3>Best Price Assurance</h3>
            <p>
                Worried about breaking the bank? Fear not! At Sky Guru Travels, we
                promise the best prices for your dream adventures. Get ready for 
                unbeatable deals without compromising on quality.
            </p>
            <a href="#" class="learn-more">Learn More</a>
        </div>
        <div class="card2">
          <img src="./assets/lodging.png" alt="Description of image" class="serve-image">
            <h3>Best Lodging Choices</h3>
            <p>
                From cozy hideaways to luxurious resorts, we've handpicked the finest
                accommodations just for you. Rest easy knowing that wherever you lay your
                head, it'll be a perfect match for your style and comfort.
            </p>
            <a href="#" class="learn-more">Learn More</a>
        </div>
      </div>
</div>

<div style="padding-left: 36px;">
  <p style="color: #766b6b;font-size: 25px;">TESTIMONIAL</p>
  <p style="color: blue;font-size: 38px;font-weight: bold;">Our Traveler Tales</p>
  <p style="width: 23%;font-size: 13px;">Real stories, real smiles.Hear the stories where they share their Sky Guru experiences</p>
</div>

<div>
  <img src="./assets/footer.png" alt="Description of image" class="nav-image">
  <p class="over-footer">Subscribe to get special price</p>
  <p class="footer-des">Dont wanna miss something? Subscribe right now and get special promotion and monthly newsletter</p>
  <div class="search-container2">
    <input type="text" placeholder="Type your email here" class="search-input">
    <button class="search-button">Search</button>
</div>
</div>

<div class="footer-container">
  <div class="footer-section contact-info">
      <h4 style="font-size: 20px;font-weight: bold;color: grey;">Contact Information</h4>
    <p> <img style="width: 7%;" src="./assets/loc.png" alt="Description of image">732 Despard St, Atlanta</p>
      <p> <img style="width: 7%;" src="./assets/mail.png" alt="Description of image">info@traveller.com </p>
      <p><img style="width: 7%;" src="./assets/call.png" alt="Description of image"> 97 888 8888</p>
  </div>
  <div class="footer-section quick-links">
      <h4 style="font-size: 20px;font-weight: bold;color: grey;">Quick Links</h4>
      <p>Home</p>
      <p>About Us</p>
      <p>Tours</p>
      <p>Contact</p>

  </div>
  <div class="footer-section contact-info">
    <h4 style="font-size: 20px;font-weight: bold;color: grey;">Follow Us</h4>
    <img style="width: 15%;" src="./assets/fb.png" alt="Description of image">
    <img style="width: 7%;" src="./assets/twitter.png" alt="Description of image">
    <img style="width: 8%;margin-left: 3%;" src="./assets/utube.png" alt="Description of image">
    <img style="width: 8%;margin-left: 3%;" src="./assets/insta.png" alt="Description of image">
</div>
</div>
<div class="copyright">
  <p>Copyright @ All rights reserved</p>
</div>




